.btn {
    border-radius: 10px;
    height: 40px;
    width: 115px;
    border: none;
}

.EmailButton {
    font-size: 15px;
    margin-right: 7px;
}

.EmailButton > i {
    margin-right: 10px;
}

.LinkedIn {
    background-color: #5093E2;
    color: white;
    font-size: 15px;
    margin-left: 7px;
}

.LinkedIn > i {
    margin-right: 10px;
}

.ButtonGroup {
    
    
}